[submodule "enblend-enfuse"]
	path = enblend-enfuse
	url = git@github.com:kyflores/enblend-enfuse.git
[submodule "bm3d"]
	path = bm3d
	url = git@github.com:kyflores/bm3d.git
[submodule "hugin"]
	path = hugin
	url = git@github.com:kyflores/hugin.git
